tmp/*
*site.retry
*.vault-password
*.sw?
*.aux
*~
*#
*.bak
.bundle
*.pyc
target/*
src/*.aux
src/*.bcf
src/*.bbl
src/*.bbg
src/*.blg
src/*.glo
src/*.ist
src/*.toc
src/*.out
src/*.fls
src/*.fdb*
src/*.ac*
src/*.al*
src/*.gz
src/texmf/*ls-R
*.log
src/*.run.xml
